body#login{
	text-align: left;
	color: #efecec;
	color: white;

	max-width:600px;
    margin:0 auto;
}
h4#message{
	color: black;
	font: 18px/23px "SimHei", sans-serif;
	position: absolute;
	top:80px;
	left: 50px;
}
div#form{
	position: fixed;
	top:40px;
	left: 0px;
  font-size: 15px;
 	font-weight: 400;
 	margin-top: 10px;
 	width: 100%;
 	height: 100%;
 	background: url("../images/create_user.jpg") center center / cover no-repeat fixed ;
}
div#sqlogin{
	color: black;
	width: 400px;
	margin-right: auto;
	margin-left : auto;
	border: solid;
	border-width: 0px;
	border-radius: 10px;
	position: relative;
	top:80px;
	height:350px;
	background-color: white;

}
label#ll{
	color:black;
  font-size: 30px;
	line-height: 80px;
	position: relative;
	left: 130px;
}

div#error{
	font-size: 5px;
	color: yellow;
}
img#image{
	max-width: auto;
	max-height:60px;
}
div#header{
	position: fixed;
	left: 0px;
}
input#button{
	position: relative;
	left: 180px;
	top: 50px;
}
#ms{
  color: red;
}
div#new{
  position: fixed;
  top: 250px;
}
#cm{
	color:yellow;
}
#ms2{
	color: black;
	border: solid;
	border-width: 0px;
	background: red;

}
#back{
	position: relative;
	left: 100px;
	top:50px;
}
#kakunin{
	text-align: left;
	line-height: 40px;
	position: relative;
	top: 30px;
}
#l1{
	position: relative;
	left: 70px;
}
#l2{
	position: relative;
	left: 120px;
}
#comp{
  text-align: center;
  position: relative;
  top: 30px;
}
div#sqlogin2{
	color: black;
	width: 500px;
	margin-right: auto;
	margin-left : auto;
	border: solid;
	border-width: 0px;
	border-radius: 10px;
	position: relative;
	top:80px;
	height:300px;
	background-color: white;

}
#ll2{
  color:black;
  font-size: 30px;
  line-height: 80px;
  position: relative;
  left: 180px;
}
#button4{
  position: relative;
  top:50px;
}
