.hojo{
	background-color:rgb(25, 203, 203);
}
#bxslider{
	max-width: 300px;
	height: auto;
}
#vdo{
	max-width: 100%;
	height: auto;
	text-align: center;
}
#bx{
	max-width: 60%;
	height: auto;
}
#bxp{
	text-align: center;
}
/* .listCover
------------------------- */
.listCover {
    margin: 0 auto;
    text-align: left;
}
/* .listItem
------------------------- */
.listCover .listItem {
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
}
.listCover .listItem img {
    width: 120px;
}
.listCover .active {
    background: url(../img/activeArrow.gif) no-repeat bottom center;
}
.listCover .listItem .selfRep {
    display: none;
}
/* .expandField
------------------------- */
.expandField {
	/*フィールドの上*/
    padding: 10px 0;
    width: 100%;
    text-align: left;
    display: block;
    background: #222;
    float: left;
    position: relative;
    overflow: hidden;
}
.expandField .btnClose {
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: block;
    background: url(../img/btnClose.gif) no-repeat top left;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}
.expandField .btnPrev {
    top: 120px;
    left: 0;
    width: 60px;
    height: 60px;
    display: block;
    background: url(../img/btnPrev.gif) no-repeat top left;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}
.expandField .btnNext {
    top: 120px;
    right: 0;
    width: 60px;
    height: 60px;
    display: block;
    background: url(../img/btnNext.gif) no-repeat top left;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}
.expandField .selfRepInner {
	/*フィールド内の画像の位置*/
    padding: 40px 80px;
    text-align: center;
    position: relative;
}
.expandField .selfRepInner .secLeft,
.expandField .selfRepInner .secRight {
    /*width: 50%;*/
	max-width: 100%;
	/*height: auto;*/
    float: left;
}
.expandField .selfRepInner .secLeft {
    text-align: center;
}
.expandField .selfRepInner .secRight {
    text-align: left;
    color: #fff;
}
/* ===========================================
    SizeAdjustment
=========================================== */
@media screen and (max-width: 600px) {
    .expandField .selfRepInner .secLeft img {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .expandField .selfRepInner .secLeft {
        display: none;
    }
    .expandField .selfRepInner .secRight {
        width: 100%;
        float: none;
    }
}
.secLeft img{
	max-width: 100%;
	height: auto;
}
.secRight p{
	text-align: right;
}
/* =======================================
    ClearFix
======================================= */
.listCover:before,
.listCover:after,
.expandField .selfRepInner:before,
.expandField .selfRepInner:after {
    content: " ";
    display: table;
}
.listCover:after,
.expandField .selfRepInner:after {clear: both;}
.listCover,
.expandField .selfRepInner {*zoom: 1;}

body {
    overflow-y: scroll;
}
*html body {overflow-y: auto;} /* IE6 */
*:first-child+html body {overflow-y: auto;} /* IE7 */
