
#menubar{
  width:100%;
  height:40px;
  font:yellow;
  margin: 0;
  padding: 0;
  width: ***;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #161616 ;
  height: :50px;
}

#menubar ul{
position: relative;
left: 50%;
float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menubar li{
position: relative;
left: -50%;
float: left;
display: block;
  float: left;
  width: 150px;
margin: 0;
  padding: 0;
overflow: hidden;
display: inline-block;


}

#menubar a{
text-align: center;
display:block;
padding: 0.5em 0;
width: 100%;
background-color: #161616;
color: white;
}

#menubar a:hover{
background-color: #424242;
color: white;
}
img#image{
	max-width: auto;
	max-height:60px;
}
div#me{
  position: relative;
  top: 50px;
  left:500px;
  margin: 0 auto;
}
#tori{
  max-width: 300px;
  max-height: auto;
  margin: 0 auto;
}
