

/*ログインページ　login.php*/
body#login{
	text-align: center;
	color: #efecec;
	color: white;

	max-width:600px;
    margin:0 auto;
}
h1#title{
  	text-transform: uppercase;
  	font-family: "arial black";
  	font-size: 40px;
  	line-height: 50px;
 	font-weight: 400;
 	color: black;
 	position: absolute;
	left: 50px;
}
h4#message{
	color: black;
	font: 18px/23px "SimHei", sans-serif;
	position: absolute;
	top:80px;
	left: 50px;
}
div#form{
	position: fixed;
	top:40px;
	left: 0px;
  	font-size: 20px;
  	line-height: 50px;
 	font-weight: 400;
 	margin-top: 20px;
 	width: 100%;
 	height: 100%;
 	background: url("../images/rokuseib.png") center center / cover no-repeat fixed ;
}
p.resizeimage img{width: 100%}

div#sqlogin{
	position: relative;
	left: -100px;
	width: 200px;
	margin-right: auto;
	margin-left : auto;
}
label#ll{
	line-height: 80px;
}

div#user_in{
	position: relative;
	left:0px;
	top: 400px
}
div#pass_in{
	position: relative;
	left:200px;
	top:300px;
}
div#error{
	font-size: 5px;
	color: yellow;
}
img#image{
	max-width: auto;
	max-height:60px;
}
div#header{
	position: fixed;
	left: 0px;
}
input#button{
	position: relative;
  left :0px;
	top: 270px;
}

input#button2{
 position: relative;
 left: 230px;
 top: 270px;
}

input#toroku {
    border: 0px;
    width: 50px;
    height: 30px;
    background: url("../images/button2.png") left top no-repeat;
}
