/* ヘッダーの固定 */
div#header-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 50px;              /* 縦幅140px */
}
 
div#header-bk { 
	max-height: 50px;
	max-width: auto;
	padding:10px 0 20px;       /* 上10px、下20pxをあける */
	
}
img#img{
	max-height: 50px;
	max-width: auto;
	padding:10px 0 20px; 
}
div#body-blk{
	position: fixed;
	top:100px;
}
div#body{
		text-align: center;
	color: #efecec;
	color: white;

	max-width:600px; 
    margin:0 auto; 
	background: url("images/rokusei_fotor.JPG") center center / cover no-repeat fixed ;

}
 
 
