div#header {
	position: absolute;
	top: 40px;
	height:60px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	width: 800px;
	background-image:url("images/headder1.jpg");	/*ヘッダ部分の背景画像*/		/*背景画像を繰り返さない*/
	background-color:#cccccc;		/*ヘッダ部分の背景色*/
}

#globalnavi{
  width:100%;
  height:100%;

  margin: 0;
  padding: 0;
  width: ***;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #161616 ;
}

#globalnavi ul{

	position: relative;
	left: 50%;
	float: left;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;

}

#globalnavi li{
	position: relative;
	left: -50%;
	float: left;
	display: block;
  	float: left;
  	width: 150px;
 	margin: 0;
  	padding: 0;
 	overflow: hidden;
 	display: inline-block;


}

#globalnavi a{
  text-align: center;
  display:block;
  padding: 0.5em 0;
  width: 100%;
  background-color: #161616;
  color: white;
}

#globalnavi a:hover{
  background-color: #424242;
  color: white;
}

#chartdiv{
 	overflow: hidden;
 	display: inline-block;
	border: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 10px;
	background-color: rgba(32,32,32);
	width: 850px;
	height: 300px;
}
#bx{
	width: 800px;
	height:800px;
}
.bxslider img {
	margin:0 auto;
	display:block;
}
#pagebody{
	 margin-left:auto;    /* 左側マージンを自動的に空ける */
     margin-right:auto;   /* 右側マージンを自動的に空ける */
     text-align:left;     /* 中身を左側表示に戻す */
     width:650px;         /* 幅を決定する */
}
